.Recipe {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0px 2px 3px #ccc;
    padding: 20px;
}

.Recipe button {
    background-color: #fff;
    font: inherit;
    color: blue;
    border: 1px solid #000;
}