.order {
    width: 80%;
    border: 1px solid #eeeeee;
    box-shadow: 0 2px 3px #cccccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.ingredient {
    text-transform: capitalize;
    display: inline-block;
    margin: 0 8px;
    border: 1px solid #cccccc;
    padding: 5px;
}