.side-drawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: #ffffff;
    padding: 32px 16px;
    box-sizing: border-box;
    transition-timing-function: ease-out;
    transition: 0.3s;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}

.logo {
    height: 11%;
    margin-bottom: 32px;
}

@media(min-width: 500px) {
    .side-drawer {
        display: none;
    }
}